/*Estilos Generales*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    user-select: none;
}

/* Fin Estilos generales*/

/* Nav Estilos*/

header{
    width: 100%;
    height: 130px;
    position: fixed;
    z-index: 100;
    transition: 0.7s;
}

header.abajo{
    background: #fffffff3;
    padding: auto;
}

header.abajo ul li a{
    color: #000;
}

header.abajo ul a:hover {
    color: rgb(0, 89, 255);
}

header.abajo .btn_login{
    color: rgb(0, 89, 255);
    border-color: rgb(0, 89, 255);
}

header.abajo .btn_login:hover{
    background-color: rgb(0, 81, 255);
    border: 2px solid rgb(0, 81, 255);
    color: white;
}

.container_header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.socials img{
    width: 23px;
}

.socials a{
    margin: 0px 2px;
}
.logo img{
    width: 90px;
}   

.nav_var{
    display: flex;
    align-items: center;
}

.nav_var nav{
    margin: 0px 20px;
}

.nav_var ul{
    display: flex;
}

.nav_var li{
    list-style: none;
    margin: 20px 16px;
}

.nav_var ul a{
    color: rgb(255, 255, 255);
    font-size: 17px;
    position: relative;
}

.nav_var ul a:hover{
    color: rgb(243, 243, 243);
    transition: all 300ms;
    text-decoration: underline;
}

.btn_login{
    display: block;
    padding: 8px 15px;
    border: 2px solid;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-weight: 500;
    transition: all 300ms;
    margin: 0px 15px
}

.btn_login:hover{
    background-color: rgb(0, 81, 255);
    border: 2px solid rgb(0, 81, 255);
    color: white;
}

/*Fin nav Estilos*/

/*Ajuestes responsive Nav var y Footer*/

.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.menu-icon, #check{
    display: none;
}

header.abajo .menu-icon{
    color: rgb(0, 81, 255);
}


@media (max-width:800px){
    .checkbtn{
        display: block;
    }

    .nav_var ul a{
        color: black;
    }

    .nav_var ul a:hover{
        transition: all 300ms;
        color: rgb(0, 81, 255);
    }

    .menu-icon{
        display: block;
        position: fixed;
        top: 50px;
        right: 50px;
        color: white;
        cursor: pointer;
    }
    

    .nav_var ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #fffffff3;
        width: 100%;
        top: 130px;
        height: 100vh;
        right: 0;
    }

    .nav_var li{
        padding: 2rem;
        text-align: center;
        margin: 0;
    }

    .btn_login{
        margin-right: 120px;
    }

    .nav_var .socials{
        display: none;
    }

    .logo{
        margin-right: -50px;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all 300ms;
    }
}


/*Fin Ajuestes responsive Nav var y Footter*/

/*Inicio Slider Estilos*/

.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slider ul {
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@keyframes cambio {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    
    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

@media only screen and (max-width: 768px) {
    .slider {
        height: auto;
    }

    .slider img {
        width: 100%;
        height: auto;
    }

    .slider ul {
        animation: cambio 30s infinite alternate linear;
    }
}


/*Fin Slider Estilos*/

/* Inicio Estilos History Section*/

.container_history{
    padding: 50px;
}

.history{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.title_history{
    max-width: 800px;
    margin: auto;
}

.title_history p{
    color: rgb(0, 81, 255);
    margin-bottom: 5px;
    letter-spacing: 4px;
    font-size: 1rem;
    font-weight: 600;
}

.title_history h1{
    font-weight: 600;
    font-size: 4rem;
}

.history_section{
    margin-top: 30px;
}

.history_box{
    display: block;
    align-items: center;
}

.history_image img{
    width: 350px;
    height: 300px;
    display: block;
    transition: 0.5s ease;
    border-radius: 5px;
}

.history_p p{
    font-size: 1em;
    text-align: justify;
}

.history_p2 p{
    font-size: 1em;
    text-align: justify;
}

.history_p2{
    margin-top: 5px;
}


.history_p3 p{
    font-size: 1em;
    text-align: justify;
}

.history_p3{
    margin-top: 20px;
}

/* Fin Estilos History Section*/

/*Inicio Estilos Sections History Cards*/

.news{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newsection_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_new{
    width: 100%;
    display: flex;
    max-width: 1200px;
    margin: auto;
  }

  .new {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
  }
  .new:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }
  .new img {
    width: 100%;
    height: 210px;
  }
  .new .contenido_new {
    padding: 15px;
    text-align: center;
  }
  .new .contenido_new h3 {
    margin-bottom: 15px;
    color: rgb(36, 36, 36);
  }
  .new .contenido_new p {
    color: #000000;
    font-size: 0.8rem;
    margin-bottom: 11px;
    font-weight: 350;
    font-style: italic;
  }

  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .container_new {
      flex-wrap: wrap;
    }
    .new {
      margin: 15px;
    }
  }

/*Fin Estilos Sections History Cards*/

/*Inicio Estilos Seccion Roles*/

.title_roles{
    justify-content: center;
    text-align: center;
  }

  .title_roles p{
    color: rgb(255, 0, 0);
    margin-bottom: 5px;
    letter-spacing: 4px;
    font-size: 1rem;
    font-weight: 600;
  }

  .title_roles h1{
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 5px;
}

.container_card {
    max-width: 1200px;
    padding: 20px;
    padding-bottom: 80px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    position: relative;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
    overflow: hidden;
}

.card:hover {
    box-shadow: 1px 1px 20px -10px #20202049;
}

.card:hover .rol_description {
    opacity: 1;
    margin-top: 0;
    border-radius: 0px 0px 20px 20px;
}

.image {
    width: 100%;
    height: 180px;
    background: #EFF3F5;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
    border-radius: 20px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    transition: transform 0.3s;
}

.card:hover .icon img {
    transform: scale(1.1);
}

.rol_description {
    width: 100%;
    height: 120px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin-top: -120px;
    transition: all 400ms cubic-bezier(0.5, 0, 0, 1);
    border-radius: 20px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rol_description h3 {
    font-size: 2em; 
    margin: 0;
}

.rol_description p {
    font-size: 12px; 
    margin-top: 5px;
    line-height: 1.4;
}

.c1:hover .rol_description {
    background: rgba(255, 0, 0, 0.8);
}

.c2:hover .rol_description {
    background: rgb(0, 81, 255);
}

.c3:hover .rol_description {
    background: rgba(255, 200, 0, 0.8);
}

@media (max-width: 768px) {
    .container_card {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card {
        width: 100%;
        margin: auto;
    }
}


/*Fin Estilos Seccion Roles*/

 /*Inicio Estilos Team*/

 .title_team{
    justify-content: center;
    text-align: center;
  }

  .title_team p{
    color: rgb(255, 0, 0);
    margin-bottom: 5px;
    letter-spacing: 4px;
    font-size: 1rem;
    font-weight: 600;
  }

  .title_team h1{
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 40px;
}

.team_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.team_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 15px;
    max-width: 900px;
    margin-bottom: 20px;
    justify-items: center;
}

.team_card {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 280px;
    height: 300px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.team_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.team_card:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 10px;
}

.overlay h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
}

.overlay p {
    font-size: 1em;
    margin: 0;
}

.overlay .social-icon {
    margin-top: 10px;
    font-size: 1.5em;
    color: #fff;
}

.team_btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    text-align: center;
    color: #fff;
    background-color: rgb(0, 81, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.team_btn:hover {
    background-color: rgba(0, 81, 255, 0.795);
}

.team_buttom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 768px) {
    .team_cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .team_cards {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

  /*Fin Estilos Team*/


  /*Inicio gallery Section*/

  .title_gallery{
    margin-top: 50px;
    justify-content: center;
    text-align: center;
  }

  .title_gallery p{
    color: rgb(0, 81, 255);
    margin-bottom: 5px;
    letter-spacing: 4px;
    font-size: 1rem;
    font-weight: 600;
  }

  .title_gallery h1{
    font-weight: 600;
    font-size: 2.8rem;
    margin-bottom: 20px;
}

.container__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 80px;
}


.item_gallery {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.item_gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.item_gallery .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.item_gallery .overlay .event_title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item_gallery .overlay .event_text {
    font-size: 16px;
    margin-bottom: 20px;
}

.item_gallery .overlay .btn_gallery {
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s ease;
}

.item_gallery .overlay .btn_gallery:hover {
    background-color: #f80000;
}

.item_gallery:hover .overlay {
    opacity: 1;
}

.item_gallery:hover img {
    transform: scale(1.1);
}

.item1 {
    grid-column: span 2;
    grid-row: span 1;
}

.item2 {
    grid-column: span 2;
    grid-row: span 2;
}

.item3 {
    grid-column: span 2;
    grid-row: span 1;
}

.item4 {
    grid-column: span 1;
    grid-row: span 1;
}

.item5 {
    grid-column: span 2;
    grid-row: span 1;
}

.item6 {
    grid-column: span 1;
    grid-row: span 1;
}

.item7 {
    grid-column: span 2;
    grid-row: span 1;
}

.item8 {
    grid-column: span 1;
    grid-row: span 1;
}

.item9 {
    grid-column: span 1;
    grid-row: span 2;
}

.item10 {
    grid-column: span 2;
    grid-row: span 1;
}

.item11 {
    grid-column: span 1;
    grid-row: span 1;
}

.item12 {
    grid-column: span 2;
    grid-row: span 2;
}

.item13 {
    grid-column: span 2;
    grid-row: span 1;
}

.item14 {
    grid-column: span 1;
    grid-row: span 1;
}

@media (max-width: 768px) {
    .container__gallery {
        grid-template-columns: 1fr 1fr;
        padding: 0 10px; 
    }

    .item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10, .item11, .item12, .item13, .item14 {
        grid-column: span 1;
        grid-row: span 1;
    }

    .item_gallery .overlay .event_text {
        display: none;
    }
}

  /*Fin Estilos gallery Section*/

  /*Fin EstilosAbout Section*/

      /*Inicio Estilos Footer*/

      .footer {
        position: relative;
        width: 100%;
        background-image: radial-gradient(circle at 113.55% 50%, #5dd2f1 0, #41c9ef 25%, #0cc1ed 50%, #00b8eb 75%, #00b0e9 100%);        min-height: 100px;
        padding: 20px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      
      .logo_socials {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 10px 5px;
        flex-wrap: wrap;
      }
      
      .social_logo {
        list-style: none;
      }
      
      .logo {
        color: rgb(255, 255, 255);
        font-size: 32px;
        display: inline-block;
        margin: 0 10px;
        transition: 0.5s;
      }
      
      .logo:hover {
        transform: translateY(-10px);
      }
      
      .nav_footer {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
        list-style: none;
      }

      .menu_logo:hover {
        color: rgb(231, 231, 231);
        transition: all 300ms;
      }
      
      .socials_logo {
        list-style: none;
      }

      .menu_logo {
        color: rgb(255, 255, 255);
        font-size: 20px;
        display: inline-block;
        margin: 5px 10px;
        transition: 0.3s;
      }
      

      .text {
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 20px;
      }

      .text b{
        color: rgb(255, 255, 255);
      }

/*Fin Estilos Footer*/

