/*Estilos Generales*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    user-select: none;
}

/* Fin Estilos generales*/

/* Nav Estilos*/

header{
    width: 100%;
    height: 130px;
    position: fixed;
    z-index: 100;
    transition: 0.7s;
}

header.abajo{
    background: #fffffff3;
    padding: auto;
}

header.abajo ul li a{
    color: #000;
}

header.abajo ul a:hover {
    color: rgb(0, 89, 255);
}

header.abajo .btn_login{
    color: rgb(0, 89, 255);
    border-color: rgb(0, 89, 255);
}

header.abajo .btn_login:hover{
    background-color: rgb(0, 81, 255);
    border: 2px solid rgb(0, 81, 255);
    color: white;
}

.container_header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.socials img{
    width: 23px;
}

.socials a{
    margin: 0px 2px;
}
.logo img{
    width: 90px;
}   

.nav_var{
    display: flex;
    align-items: center;
}

.nav_var nav{
    margin: 0px 20px;
}

.nav_var ul{
    display: flex;
}

.nav_var li{
    list-style: none;
    margin: 20px 16px;
}

.nav_var ul a{
    color: rgb(255, 255, 255);
    font-size: 17px;
    position: relative;
}

.nav_var ul a:hover{
    color: rgb(243, 243, 243);
    transition: all 300ms;
    text-decoration: underline;
}

.btn_login{
    display: block;
    padding: 8px 15px;
    border: 2px solid;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-weight: 500;
    transition: all 300ms;
    margin: 0px 15px
}

.btn_login:hover{
    background-color: rgb(0, 81, 255);
    border: 2px solid rgb(0, 81, 255);
    color: white;
}

/*Fin nav Estilos*/

/*Ajuestes responsive Nav var y Footer*/

.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.menu-icon, #check{
    display: none;
}

header.abajo .menu-icon{
    color: rgb(0, 81, 255);
}


@media (max-width:800px){
    .checkbtn{
        display: block;
    }

    .nav_var ul a{
        color: black;
    }

    .nav_var ul a:hover{
        transition: all 300ms;
        color: rgb(0, 81, 255);
    }

    .menu-icon{
        display: block;
        position: fixed;
        top: 50px;
        right: 50px;
        color: white;
        cursor: pointer;
    }
    

    .nav_var ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #fffffff3;
        width: 100%;
        top: 130px;
        height: 100vh;
        right: 0;
    }

    .nav_var li{
        padding: 2rem;
        text-align: center;
        margin: 0;
    }

    .btn_login{
        margin-right: 120px;
    }

    .nav_var .socials{
        display: none;
    }

    .logo{
        margin-right: -50px;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all 300ms;
    }
}


/*Fin Ajuestes responsive Nav var y Footter*/

/*Inicio Estilos Login*/