/*Estilos Generales*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    user-select: none;
}

/* Fin Estilos generales*/

/* Nav Estilos*/

header{
    width: 100%;
    height: 130px;
    position: fixed;
    z-index: 100;
    transition: 0.7s;
}

header.abajo{
    background: #fffffff3;
    padding: auto;
}

header.abajo ul li a{
    color: #000;
}

header.abajo ul a:hover {
    color: rgb(0, 89, 255);
}

header.abajo .btn_login{
    color: rgb(0, 89, 255);
    border-color: rgb(0, 89, 255);
}

header.abajo .btn_login:hover{
    background-color: rgb(0, 81, 255);
    border: 2px solid rgb(0, 81, 255);
    color: white;
}

.container_header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.socials img{
    width: 23px;
}

.socials a{
    margin: 0px 2px;
}
.logo img{
    width: 90px;
}   

.nav_var{
    display: flex;
    align-items: center;
}

.nav_var nav{
    margin: 0px 20px;
}

.nav_var ul{
    display: flex;
}

.nav_var li{
    list-style: none;
    margin: 20px 16px;
}

.nav_var ul a{
    color: rgb(255, 255, 255);
    font-size: 17px;
    position: relative;
}

.nav_var ul a:hover{
    color: rgb(243, 243, 243);
    transition: all 300ms;
    text-decoration: underline;
}

.btn_login{
    display: block;
    padding: 8px 15px;
    border: 2px solid;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-weight: 500;
    transition: all 300ms;
    margin: 0px 15px
}

.btn_login:hover{
    background-color: rgb(0, 81, 255);
    border: 2px solid rgb(0, 81, 255);
    color: white;
}

/*Fin nav Estilos*/

/*Ajuestes responsive Nav var y Footer*/

.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.menu-icon, #check{
    display: none;
}

header.abajo .menu-icon{
    color: rgb(0, 81, 255);
}


@media (max-width:800px){
    .checkbtn{
        display: block;
    }

    .nav_var ul a{
        color: black;
    }

    .nav_var ul a:hover{
        transition: all 300ms;
        color: rgb(0, 81, 255);
    }

    .menu-icon{
        display: block;
        position: fixed;
        top: 50px;
        right: 50px;
        color: white;
        cursor: pointer;
    }
    

    .nav_var ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #fffffff3;
        width: 100%;
        top: 130px;
        height: 100vh;
        right: 0;
    }

    .nav_var li{
        padding: 2rem;
        text-align: center;
        margin: 0;
    }

    .btn_login{
        margin-right: 130px;
    }

    .nav_var .socials{
        display: none;
    }

    .logo{
        margin-right: -50px;
    }

    #check:checked ~ ul{
        left: 0;
        transition: all 300ms;
    }
}


/*Fin Ajuestes responsive Nav var y Footter*/

/*Inicio Front Estilos*/

.container_front{
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-image: url(../Images/img_front.png)
}

.front{
    max-width: 1200px;
    margin: 0 100px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.text_front{
    width: 100%;
}

.text_front h1{
    font-size: clamp(2em, 4rem, 5em);
    color: rgb(255, 255, 255);
}

.text_front p{
    text-align: justify;
    margin-top: 30px;
    font-size: clamp(0.5em, 1rem, 1em);
    color: rgb(219, 219, 219);
}

.btn_front{
    display: block;
    background-color: rgb(255, 0, 0);
    margin-top: 50px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    width: 150px
}

.btn_front:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    transition: all 300ms;
}

/*Fin Front Estilos*/

/*Inicio Estilos Section cards*/

.container_card{
    padding-top: 90px;
}

.card{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 20px;
}

.text_card{
    max-width: 800px;
    margin: auto;
}

.text_card p{
    color: rgb(255, 0, 0);
    margin-bottom: 10px;
    letter-spacing: 4px;
    font-size: 1rem;
    font-weight: 500;
}

.text_card h1{
    font-weight: 600;
}

.container_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.box_card{
    max-width: 350px;
    padding: 60px 40px;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}

.box_card:hover{
    border: 1px solid transparent;
    box-shadow: 0px 6px 50px -20px rgba(0,0,0,0.2);
}

.box_card h2{
    font-size: 24px;
    margin-top: 40px;
    font-weight: 500;
}

.box_card p{
    margin-top: 20px;
    text-align: justify;
}

.box_card img{
    width: 100px;
}

/*Fin Estilso Sections Cards*/

/*Inicio Estilos Section Banner*/

.container_banner{
    padding: 100px 0px;
    background-image: url(../Images/img_banner.png);
    margin-top: 100px;
    background-size: cover;
}

.banner{
    max-width: 1200px;
    padding: 0px 20px;
    margin: 0px auto;
    align-items: center;
    text-align: center;
}

.btn_banner{
    margin: 0px auto;
}

.banner p{
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-bottom: 30px;
}

.banner h1{
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-style: oblique;
}

.btn_banner{
    display: block;
    background-color: rgb(0, 81, 255);
    margin-top: 30px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    width: 170px
}

.btn_banner:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(0, 81, 255);
    transition: all 300ms;
}

/*Fin Estilos Section Banner**/

/*Inicio Estilos Sections News*/

.news{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 90px;
}

.newsection_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newsection_container p{
    color: rgb(0, 102, 255);
    margin-bottom: 5px;
    letter-spacing: 4px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}


.newsection_container h1{
    font-weight: 600;
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 15px;
}

.container_new{
    width: 100%;
    display: flex;
    max-width: 1200px;
    margin: auto;
  }

  .new {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease-out;
    cursor: default;
  }
  .new:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
  }
  .new img {
    width: 100%;
    height: 210px;
  }
  .new .contenido_new {
    padding: 15px;
    text-align: center;
  }
  .new .contenido_new h3 {
    margin-bottom: 15px;
    color: rgb(36, 36, 36);
  }
  .new .contenido_new p {
    color: #000000;
    font-size: 0.8rem;
    margin-bottom: 11px;
    font-weight: 350;
    font-style: italic;
  }
  .new .contenido_new a {
    display: block;
    background-color: rgb(0, 81, 255);
    margin: auto;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    width: 120px
  }
  .new .contenido_new a:hover {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 81, 255);
    color: rgb(0, 81, 255);
    transition: all 300ms;
  }

  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .container_new {
      flex-wrap: wrap;
    }
    .new {
      width: 350px;
      margin: 15px;
    }
  }

  /*Fin Estilos Section News*/

    /*Inicio Estilos Footer*/

    .footer {
        position: relative;
        width: 100%;
        background-image: radial-gradient(circle at 113.55% 50%, #5dd2f1 0, #41c9ef 25%, #0cc1ed 50%, #00b8eb 75%, #00b0e9 100%);        min-height: 100px;
        padding: 20px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      
      .logo_socials {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 10px 5px;
        flex-wrap: wrap;
      }
      
      .social_logo {
        list-style: none;
      }
      
      .logo {
        color: rgb(255, 255, 255);
        font-size: 32px;
        display: inline-block;
        margin: 0 10px;
        transition: 0.5s;
      }
      
      .logo:hover {
        transform: translateY(-10px);
      }
      
      .nav_footer {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
        list-style: none;
      }

      .menu_logo:hover {
        color: rgb(231, 231, 231);
        transition: all 300ms;
      }
      
      .socials_logo {
        list-style: none;
      }
      .menu_logo {
        color: rgb(255, 255, 255);
        font-size: 20px;
        display: inline-block;
        margin: 5px 10px;
        transition: 0.3s;
      }
      

      .text {
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 20px;
      }

      .text b{
        color: rgb(255, 255, 255);
      }

/*Fin Estilos Footer*/

/*____________________________________________*/

